html{
    background-color: rgb(114, 114, 114);
    background-attachment: fixed;
    /*background-color: rgb(5, 2, 19);*/
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 120%;
    line-height: 1.5;
}
html, body{
    margin: 20px;
    min-height: 100%;
    color: rgb(0, 0, 0);
}
#container{
    position: relative;
    width: 100%;
    height: 100%;
}
#form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
input, #counter{
    border: none;
    width: clamp(200px, 50%, 600px);
    margin: 15px 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: aliceblue;
    color: black;
}
input:hover{
    background-color: #ccfcf9;
}
input.contact:focus{
    outline: 0;
    background-color: #acfffb;
}
#ab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}