body{
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
    margin: 0;
    font-family: monospace;
    color: white;
}
#container{
    width: 100%;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    width: auto;
    height: auto;
    font-size: 15px;
    margin-top: 5vh;
    padding: 20px;
}
#timer{
    height: 60px;
}
.box > input {
    margin: 0 2px 0 2px;
}
#valueInput{
    text-align: center;
}
#result{
    text-align: center;
    margin-left: 15px;
    padding: 16px;
    font-size: 20px;
}

#min{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.pic{
    margin: 0 10px 0 10px;
    width: 100px;
    height: 50px;
}
.pic:hover{
    border-bottom: 1px solid red;
    margin-bottom: -1px;
}
#main{
    width: 600px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.current{
    border-bottom: 1px solid red;
    margin-bottom: -1px;
}

